@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

/* Layout: usa flex per gestire header/main/footer
   .App diventa un contenitore column flex e main si espande */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#reader video {
  width: 100%;
  height: 100%;       /* forza l'altezza del contenitore */
  object-fit: cover;  /* o contain a seconda del comportamento voluto */
}

/* se vuoi che il riquadro di scansione sia centrato */
.html5-qrcode-region {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Rendiamo il container principale l'unico area scrollabile
   e abilitiamo lo scrolling fluido su iOS/mobile */
main {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}